body{
    font-family: Archivo;
}

table{
    border-collapse: collapse;  
}


td,th{
    border: 1px solid black;
    padding: 1.1rem;
    text-align: center;    
}


caption{
    font-size: 2em;
    font-weight: bold;
}