*{
    margin: 0;
    padding: 0;
}

.filha1, .filha2, .filha3{
    width: 300px;
    height: 300px;
    margin: 10px;
}

.filha1{
    background-color: red;
}

div.filha2{
    background-color: green;
}

div.filha3{
    background-color: blue;
    position: relative;
}

span.text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



