.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.hello{
    display: flex;
    justify-content: center;
}
body{
    background-color: rgb(29, 27, 27);
}

.oi{
    display: flex;
    justify-content: center;
}